<head>
  <link rel="stylesheet" href="../styles/publication-page.scss">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- Place favicon.ico in the root directory -->
    <!-- material-design-lite style imports -->
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/flexboxgrid/dist/flexboxgrid.css" />
    <link rel="stylesheet" href="/bower_components/datatables.net-dt/css/jquery.dataTables.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/flexboxgrid.css -->
    <link rel="stylesheet" href="/bower_components/flexboxgrid/dist/flexboxgrid.min.css">
    <!-- endbuild -->
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<div class="publication">
  <button type="button" class="btn btn-aln"><a href="/../.."> Back</a></button>
  <h1>Publications</h1>
  <div class="publication-padding">
    <div>
      <span class="white font-x-large">Search by Title or Author: </span>
      <input name="search" placeholder="Search">
    </div>
    <table id="table_id" class="display" cellspacing="10">
      <tbody>
          <tr>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also</td>
              <td class="text-end"><img src="imgs.png" alt="lorem" class="img-size"></td>
          </tr>
          <tr>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also</td>
              <td class="text-end"><img src="img.jpg" alt="lorem" class="img-size"></td>
          </tr>
          <tr>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also</td>
              <td class="text-end"><img src="imgs.png" alt="lorem" class="img-size"></td>
          </tr>
          <tr>
              <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also</td>
              <td class="text-end"><img src="img.jpg" alt="lorem" class="img-size"></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
